.intro-2 {
    background: url("http://mdbootstrap.com/img/Photos/Others/forest1.jpg")no-repeat center center;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #3f51b5 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #3f51b5 !important;
    }
}

.hm-gradient .full-bg-img {
    background: -webkit-linear-gradient(98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
    background: -webkit-gradient(linear, 98deg, from(rgba(22, 91, 231, 0.5)), to(rgba(255, 32, 32, 0.5)));
    background: linear-gradient(to 98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
}

.card {
    background-color: rgba(255, 255, 255, 0.5);
}

.md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}

/*
.md-form label {
    color: #ffffff;
}
*/

h6 {
    line-height: 1.7;
}

@media (max-width: 450px) and (max-height: 750px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1400px;
    }
}

@media (min-width: 451px) and (max-width: 767px) and (max-height: 1023px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1200px;
    }
}

@media (min-width: 800px) and (max-width: 1025px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 900px;
    }
}

@media (min-width: 1026px) and (max-height: 800px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 100%;
    }
}